<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a18fa9a70e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/open_project.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="project-div">
        <div class="data container">
            <p><small>Project Name: </small>
                <%= open_projects.projectName %>
            </p>
            <p><small>Auther Name</small>
                <%= open_projects.auther %>
            </p>

            <p>
                <%= open_projects.issue %>
            </p>
            <p> <small>Project Description</small>
            <p>
                <%= open_projects.description %>
            </p>
        </div>
    </div>
    <h1>Write Your Issues </h1>

    <div class="accordion container">
        <div id="flip"><i class="fa-solid fa-plus">&nbsp;&nbsp;Create Issue</i></div>
        <div id="panel">
            <%- include('_create_issue_form') %>
        </div>
    </div>

    <div class="container filter-box">
        <div>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."
                title="Type in a name">
        </div>

        <div>
            <form>
                <label><input type="checkbox" name="fl-colour" id="Bug" /> Bug</label><br>
                <label><input type="checkbox" name="fl-colour" id="UI Improvement" /> UI Improvement</label><br>
                <label><input type="checkbox" name="fl-colour" id="Documentation" /> Documentation</label><br>
                <label><input type="checkbox" name="fl-colour" id="Enhancement" /> Enhancement</label><br>
                <label><input type="checkbox" name="fl-colour" id="Duplicate" /> Duplicate</label><br>
            </form>
        </div>
    </div>

    <section id="myUL" class="container">
        <% for (i of open_projects.issues){%>
            <ul class="issues-list">
                <li style="display: flex;">
                    <span>Title :</span>
                    <p>
                        <%= i.title %>
                    </p>
                </li>
                <li style="display: flex;">
                    <span>Description :</span>
                    <p class="des">
                        <%= i.description %>
                    </p>
                </li>
                <li style="display: flex;">
                    <span>author :</span>
                    <p>
                        <%= i.author %>
                    </p>
                </li>
                <li class="iss" style="display: flex;">
                    <span>labels :</span>
                    <p id="lab" data-category=" <%=  i.labels %> ">
                        <%= i.labels %>
                    </p>
                </li>

            </ul>
            <%} %>
    </section>
    <div>
    </div>
    <script src="/js/search_issue.js"></script>
    <script src="/js/test_script.js"></script>
    <script src="/js/test_script2.js"></script>
    <script src="/js/add_project_dailoge.js"></script>
    <script src="/js/show_all_pj.js"></script>

</body>

</html>